net a[0] loc = p36;
net a[1] loc = p37;
net a[2] loc = p35;
net a[3] loc = p34;
net b[0] loc = p42;
net b[1] loc = p43;
net b[2] loc = p39;
net b[3] loc = p40;
net x[0] loc = p200;
net x[1] loc = p198;
net x[2] loc = p196;
net x[3] loc = p191;