net clk_1 loc = p183;
net clk_1k loc = p76;
net resetn loc = p57;
net mode_in[1] loc = p63;
net mode_in[0] loc = p67;
net mode_out[1] loc = p191;
net mode_out[0] loc = p196;
net data_in[7] loc = p34;
net data_in[6] loc = p35;
net data_in[5] loc = p37;
net data_in[4] loc = p36;
net data_in[3] loc = p40;
net data_in[2] loc = p39;
net data_in[1] loc = p43;
net data_in[0] loc = p42;
net load loc = p45;
net seg_com[3] loc = p18;
net seg_com[2] loc = p19;
net seg_com[1] loc = p20;
net seg_com[0] loc = p21;
net seg_data[7] loc = p22;
net seg_data[6] loc = p24;
net seg_data[5] loc = p26;
net seg_data[4] loc = p27;
net seg_data[3] loc = p28;
net seg_data[2] loc = p29;
net seg_data[1] loc = p31;
net seg_data[0] loc = p33;