//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 13 13:14:29 2020
//! **************************************************************************

SCHEMATIC START;
COMP "f" LOCATE = SITE "P34" LEVEL 1;
COMP "s1" LOCATE = SITE "P63" LEVEL 1;
COMP "s2" LOCATE = SITE "P67" LEVEL 1;
COMP "q<0>" LOCATE = SITE "P200" LEVEL 1;
COMP "q<1>" LOCATE = SITE "P198" LEVEL 1;
COMP "q<2>" LOCATE = SITE "P196" LEVEL 1;
COMP "q<3>" LOCATE = SITE "P191" LEVEL 1;
SCHEMATIC END;

