net clk loc = p79;
net resetn loc = p57;
net in[7] loc = p63;
net in[6] loc = p67;
net in[5] loc = p65;
net in[4] loc = p71;
net in[3] loc = p68;
net in[2] loc = p74;
net in[1] loc = p50;
net in[0] loc = p58;
net piezo loc = p51;
net segment[6] loc = p176;
net segment[5] loc = p178;
net segment[4] loc = p181;
net segment[3] loc = p182;
net segment[2] loc = p184;
net segment[1] loc = p185;
net segment[0] loc = p187;