//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 13 13:16:00 2020
//! **************************************************************************

SCHEMATIC START;
COMP "f" LOCATE = SITE "P191" LEVEL 1;
COMP "a" LOCATE = SITE "P63" LEVEL 1;
COMP "b" LOCATE = SITE "P67" LEVEL 1;
COMP "c" LOCATE = SITE "P65" LEVEL 1;
COMP "d" LOCATE = SITE "P71" LEVEL 1;
SCHEMATIC END;

